<style>
body {
    margin: 0;
}
#left {
    width: 50%;
    display: inline-block;
    height: 100%;
}
#right {
    width: 50%;
    display: inline-block;
    height: 100%;
}
.parent{
    font-size:0;
    margin: 0;
    height: 400px;
}
.font{
    font-size:16px;
}
</style>

<div class="parent">
	<div class="font" id="left">
		<iframe width="{{ .Site.Params.geo.width }}" height="{{ .Site.Params.geo.height }}" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="{{ .Site.Params.geo.pre_embed }}{{ .Site.Params.geo.embed }}"></iframe>
		<p>Crieff: <a href="https://www.thetowercrieff.com/">The Tower Pub</a></p>
	</div>
	<div class="font" id="right">
		<iframe width="{{ .Site.Params.geo2.width }}" height="{{ .Site.Params.geo2.height }}" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="{{ .Site.Params.geo2.pre_embed }}{{ .Site.Params.geo2.embed }}"></iframe>
		<p>Muthill: <a href="https://www.barleybree.com/">The Barley Bree</a></p>
	</div>
</div>

